.navigationContainer {
  display: flex;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 255, 0.2);
  background-color: rgba(29, 29, 201, 0.735);
  height: 7vh;
}
.navList {
  display: flex;
  align-items: center;
  height: 7vh;
  width: 50%;
  margin-left: 5vw;
}
.navListItem {
  margin-right: 2vw;
}

.navListItemTitleActive {
  color: azure;
}
.navListLink {
  color: black;
  font-style: normal;
  font-size: 2vh;
}
.navListLinkActive {
  composes: navListLink;
  color: azure;
}
.logo {
  width: 20vw;
}
